USE [master]
GO
/****** Object:  Database [MAX]    Script Date: 23.01.2025 9:15:26 ******/
CREATE DATABASE [MAX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MAX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MAX.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MAX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MAX_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MAX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MAX]
GO
/****** Object:  Table [dbo].[favotite_lecture]    Script Date: 23.01.2025 9:15:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favotite_lecture](
	[id_favorite_lecture] [int] NOT NULL,
	[lecture_id] [int] NOT NULL,
	[user_id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_favotite_lecture] PRIMARY KEY CLUSTERED 
(
	[id_favorite_lecture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lecture]    Script Date: 23.01.2025 9:15:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lecture](
	[id_lecture] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[object_id] [int] NOT NULL,
	[file_pdf] [binary](8000) NOT NULL,
	[course] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[count_view] [int] NOT NULL,
 CONSTRAINT [PK_lecture] PRIMARY KEY CLUSTERED 
(
	[id_lecture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[object]    Script Date: 23.01.2025 9:15:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[object](
	[id_object] [int] IDENTITY(1,1) NOT NULL,
	[object_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_object] PRIMARY KEY CLUSTERED 
(
	[id_object] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[specialization]    Script Date: 23.01.2025 9:15:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[specialization](
	[id_specialization] [int] IDENTITY(1,1) NOT NULL,
	[specialization_name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_specialization] PRIMARY KEY CLUSTERED 
(
	[id_specialization] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 23.01.2025 9:15:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[surname] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[patronymic] [nvarchar](50) NULL,
	[type_user_id] [int] NOT NULL,
	[specialization_id] [int] NOT NULL,
	[course] [int] NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_type]    Script Date: 23.01.2025 9:15:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_type](
	[id_type_user] [int] IDENTITY(1,1) NOT NULL,
	[type_user_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_user_type] PRIMARY KEY CLUSTERED 
(
	[id_type_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[lecture] ADD  CONSTRAINT [DF_lecture_count_view]  DEFAULT ((0)) FOR [count_view]
GO
ALTER TABLE [dbo].[favotite_lecture]  WITH CHECK ADD  CONSTRAINT [FK_favotite_lecture_lecture] FOREIGN KEY([lecture_id])
REFERENCES [dbo].[lecture] ([id_lecture])
GO
ALTER TABLE [dbo].[favotite_lecture] CHECK CONSTRAINT [FK_favotite_lecture_lecture]
GO
ALTER TABLE [dbo].[favotite_lecture]  WITH CHECK ADD  CONSTRAINT [FK_favotite_lecture_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id_user])
GO
ALTER TABLE [dbo].[favotite_lecture] CHECK CONSTRAINT [FK_favotite_lecture_user]
GO
ALTER TABLE [dbo].[lecture]  WITH CHECK ADD  CONSTRAINT [FK_lecture_object] FOREIGN KEY([object_id])
REFERENCES [dbo].[object] ([id_object])
GO
ALTER TABLE [dbo].[lecture] CHECK CONSTRAINT [FK_lecture_object]
GO
ALTER TABLE [dbo].[lecture]  WITH CHECK ADD  CONSTRAINT [FK_lecture_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id_user])
GO
ALTER TABLE [dbo].[lecture] CHECK CONSTRAINT [FK_lecture_user]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_specialization] FOREIGN KEY([specialization_id])
REFERENCES [dbo].[specialization] ([id_specialization])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_specialization]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD  CONSTRAINT [FK_user_user_type] FOREIGN KEY([type_user_id])
REFERENCES [dbo].[user_type] ([id_type_user])
GO
ALTER TABLE [dbo].[user] CHECK CONSTRAINT [FK_user_user_type]
GO
USE [master]
GO
